<form action="/search" method="get" id="search">
  <label for="query">Search</label>
  <input type="text" id="query" name="query" />
  <!--input type="submit" value="search"-->
  <button type="submit">go</button>
</form>